.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*NEWS*/
#divNoticias{
  padding-top: 1%;
  margin: 1.5%;
  width: 97%;
  border: solid #ccc;

  float: left;
}
#divfotoNoticias{
  width: 48%;
  display: inline-block;
  text-align: left;
  padding-bottom: 1%;
  
}
#fotoNoticias{
  width: 100%;
}
#divTituloParrafo{
width: 48%;
float: left;
margin-left: 1%;
text-align: justify;
}
#divTituloParrafoD{
  width: 48%;
  float: right;
  margin-right: 1%;
  text-align: justify;
  }

  /*HOMEPAGE*/
#divHomePage{
    margin: 1.5%;
    width: 97%;
    float: left;
  }
  /*
  font-size: 20px;
    line-height: 20px;
    padding: 0 20px;
    text-align: justify;
    vertical-align: top;
    width: 80%;
    column-count: 3;
    margin-left: auto;
    margin-right: auto;
  */
  #divfotoNoticias{
    width: 38%;
    display: inline-block;
    padding-bottom: 1%;
    
  }
  #divParrafoNews{
    width: 58%;
    float: right;
    margin-right: 1%;
    text-align: justify;
    column-count: 3;
  }

 #acordeon{
   margin: 2%;

 }
 #contenedorPerfil{
    text-align: left;
    padding: 3% 10%;
    float: left;
    
 }

 .header{
  width: 100%; 
	left: 0; 
	top: 0; 
	position: fixed; 
 }

 .footer{
  width: 100%; 
	left: 0; 
	top: 92%; 
	position: fixed; 
 }